*
!.zshrc
!.bashrc
!.bash_profile
!.config/
!.config/fish
!.config/fish/**
!.config/i3
!.config/i3/**
!.config/i3blocks
!.config/i3blocks/**
!.config/ranger
!.config/ranger/**
!.gitignore
!.vimrc
!.xinitrc
!.Xresources
